<h2>Login</h2>
  

    <!-- Login Form -->
    <form  [formGroup] = "form" (ngSubmit)="onSubmit()">
      <div class="form-group">
      <input type="text" id="login" class="form-control" name="login" placeholder="login" required
        formControlName="login">


      </div>
      <div class="form-group">
      <input type="text" id="password" class="form-control" name="password" placeholder="password" formControlName="password">
      </div>
      <input type="submit" class="btn btn-success" value="Log In">
    </form>
  
<p>
  {{response}}
</p>


  